.cropcard {
  width: 20vw;
  height: 35vh;
  border-radius: 10px;
  background-color: white;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  position: relative;
  border: 2px solid rgb(5, 160, 5);
  display: flex;
  justify-content: center;
}
.cropcard:hover {
  color: white;
  box-shadow: 5px 5px 12px rgb(170, 170, 170);
  transform: scale(1.05);
  transition: 500ms;
  border: 2px solid rgb(3, 250, 3);
}
.cropImage {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
}
.cropImage:hover {
  opacity: 100;
  transition: 100ms;
}
.tag {
  position: absolute;
  font-size: 35px;
  top: 50%;
  transform: translate(0, -50%);
}

.cropName {
  font-size: 2vw;
}
