footer {
  width: 100%;
  background-color: rgb(39, 39, 56);
  color: white;
  padding: 8%;
  max-height: fit-content;
  display: flex;
  justify-content: center;
}
.links {
  justify-content: center;
}
h3 {
  font-size: 3vh;
  padding-bottom: 5%;
}
.footercontent {
  font-size: calc(0.3vw + 1.8vh);
  text-decoration: none;
  color: white;
}
