footer {
  width: 100%;
  background-color: rgb(39, 39, 56);
  color: white;
  padding: 5%;
  max-height: fit-content;
  padding-left: 10%;
  padding-right: 10%;
}
.links {
  text-align: left;
  font-size: 1.5vw;
}
h3 {
  font-size: 2vw;
  padding-bottom: 1%;
}
.footercontent {
  font-size: 1.5vw;
}
