section {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}
.headerSection {
  justify-content: left;
}
.sectionHead {
  font-size: 2.5vw;
  font-weight: 900;
  padding-bottom: 2%;
  color: rgb(3, 77, 3);
  text-align: left;
}
.sectionContentP {
  text-align: left;
  font-size: 2vw;
  font-weight: 600;
  width: fit-content;
  padding-bottom: 2%;
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
}
.banner {
  margin-top: 0%;
  width: 100%;
  height: auto;
  position: static;
  box-shadow: 5px 5px 12px rgb(165, 164, 164);
  height: 50%;
}
.headerbanner {
  margin-top: 0%;
  width: 100%;
  height: auto;
  position: static;
  object-fit: cover;
  height: auto;
}
.textbanner {
  font-size: 4vw;
  margin: auto;
  font-weight: 900;
  color: rgb(3, 77, 3);
}
.breadcrumb {
  background-color: rgb(238, 236, 236);
  font-size: 16px;
  font-weight: 600;
  padding-left: 5%;
  width: 100vw;
  height: 6vh;
  margin-bottom: 0%;
  align-items: center;
}
.cropSection {
  background-color: rgb(248, 248, 248);
  padding-top: 2%;
  padding-bottom: 2%;
  margin: auto;
}
.animalSection {
  background-color: rgb(255, 255, 255);
  padding-top: 2%;
  padding-bottom: 5%;
  margin: auto;
  box-shadow: 10px, 10px, 30px rgb(255, 255, 255);
}
